<header>
  <h1>
    ABOUT 30 DAYS OF TICKETS
  </h1>
  <span id="about-link"><a href="http://ec2-54-201-148-210.us-west-2.compute.amazonaws.com/">Back</a></span>
</header>
<div class="about-image"></div>
<div class="about-content-wrapper">
  <div class="about-content">
    <p><strong>30 Days of Tickets</strong> is a data visualization of one month's worth of parking violations from the City of Philadelphia. The data was extracted from <a href="https://www.opendataphilly.org/" target="_blank">OpenDataPhilly</a>, the city's awesome effort to share information with the public. At this point, <strong>30 Days of Tickets</strong> only covers one month because the sheer volume of data was overwhelming &mdash; the city’s parking data is available going back to 2012! <strong>30 Days of Tickets</strong> is styled to conform roughly to Phila.gov's <a href="http://cityofphiladelphia.github.io/patterns/" target="_blank">standard web design patterns</a>.</p>

    <p>The application also implements <a href="https://developers.google.com/maps/web/" target="_blank">Google Maps API with JavaScript</a>. <strong>30 Days of Tickets</strong> is built on <a href="http://rubyonrails.org/" target="_blank">Rails</a> and uses the <a href="https://github.com/gazay/gon" target="_blank">Gon Gem</a> to pass data from the controller to JavaScript.</p>

    <p>
      <strong>30 Days of Tickets</strong> was built by me, <a href="http://www.william-bolton.com/" target="_blank">William Bolton</a>, a full-stack developer based in Philly. Follow me on <a href="https://twitter.com/william_ellet" target="_blank">Twitter</a> and checkout my other projects on <a href="https://github.com/webolton" target="_blank">GitHub</a>!
    </p>
  </div>
</div>